alembic==0.9.1
appdirs==1.4.3
click==6.7
coverage==4.3.4
Flask==0.12
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==1.0
packaging==16.8
py==1.4.32
pyparsing==2.2.0
pytest==3.0.6
python-editor==1.0.3
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.6
Werkzeug==0.11.15
