{% extends "base.html" %}
{% block container %}
    <div class="container">
        {% include "header.html" %}
        {% if not session.get('user') %}
        <div class="jumbotron">
        <h1>Your Favorite Photos in One Place.</h1>
        <p class="lead">The easiest way to store your favorite Flickr photos</p>



        <p><a class="btn btn-lg btn-success" href="{{ url_for('auth.signup') }}" role="button">Fave us Today!</a></p>
        </div>
        {% else %}
        <div id="data-container">
        </div>
        {% endif %}

        {% if not session.get('user') %}
      <div class="row marketing">
        <div class="col-md-6">
          <h3>Favorite photos</h3>
          <p>It's so easy to use Faver: just create an account and you can start
          keeping track of your favorite photos from Flickr!</p>
        </div>

        <div class="col-md-6">
          <h3 class="form-header">Login</h3>
          
          <form method="post" action="{{ url_for('auth.login') }}">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                  <p class="{{ category }}">{{ message }}</p>
                  {% endfor %}
              {% endif %}
          {% endwith %}
          
            <div class="form-group has-success">
              <input type="text" class="form-control" name="username" placeholder="Username" />
            </div>

            <div class="form-group has-success">
              <input type="password" class="form-control" name="password" placeholder="Password" />
            </div>

            <button type="submit" name="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
        {% endif %}

    </div>
{% endblock %}